
  body {
      align-self: center;
      background-color: lightblue;
  }

  form {
      background-color: #b0d1f0e8;
      padding: 1%;
  }

  label,
  p {
      font-size: large;
      font-weight: 500;
      padding-left: 2px;
      padding-right: 2px;
      border: none;
  }

  h1 {
      padding-left: 5%;
      font-size: 100px;
  }

  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      background-color: #b0d1f0e8;
      padding: 5%;
      padding-left: 5%;
  }

  td,
  th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }

  input {
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid red;
      background-color: beige;
  }

  label,
  p {
      font-size: large;
      font-weight: 500;
      padding-left: 2px;
      padding-right: 2px;
      border: none;
  }

  h1 {
      padding-left: 5%;
      font-size: 100px;
  }

  .info
  {
    color: white;
    background-color: #007bff;
    margin-top: 10%;
    padding-left: 20px;
  }
  
  #edit_button{
    float:right;
    margin-right: 20px;
    margin-top: 20px;
  }
  

  

